* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    padding: 0;
    ;
}

.navbar-brand {
    left: 6rem;
    position: relative;
}

.navbar-collapse {
    flex-grow: 0;
    margin-right: 8rem;
}

.navbar-collapse ul {
    display: flex;
    gap: 2rem;
}

.jumbotron {
    position: relative;
    top: 1rem;
}

.jumbotron-container {
    padding: 2rem;
    display: block;
    margin-top: 0;
    width: 84%;
    margin-left: 7rem;
    border-radius: 0.3rem;
}

.jumbotron-container h1 {
    font-size: 3.5rem;
    font-weight: lighter;
}

.jumbotron-container p {
    margin-right: 1rem;
}

.jumbotron-container button {
    margin-right: 10px;
}

.card-section {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.card {
    margin-right: 5px;
    width: 19rem;
}

.card-sect:last-child {
    margin-right: 1rem;
}

.card-body h5 {
    text-align: center;
}

.card-body .anchor-card {
    display: flex;
    justify-content: center;
    text-align: center;
}

.anchor-card {
    width: 19rem;
    background: rgba(222, 224, 225, 0.24);
    position: relative;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem;
    border: 1px solid rgba(218, 205, 205, 0.637);


}

/* img{
    width: 19rem;
    height: auto;
} */

.footer-section {
    padding: 1.8rem;
    margin-top: 1rem;
    text-align: center;
}



@media (max-width: 980px) {
    * {
        margin: 0;
        padding: 0;
    }

    .navbar-toggler {
        color: white;
        margin-right: 0.3rem;
    }

    .navbar-brand {
        left: 0;
        position: static;
    }

    h1 {
        font-size: 1rem;
    }

    .jumbotron {
        position: relative;
        top: 4.7rem;
    }

    .jumbotron-container {
        padding: 1rem;
        width: 91%;
        margin-left: 1rem;
    }

    .card-section {
        position: relative;
        top: 5.1rem;
        margin-top: 2rem;
    }

    .footer-section {
        position: relative;
        top: 5rem;
        padding: 0.8rem;
        margin-top: 1rem;
        text-align: center;
        width: 100%;
    }
}


@media (min-width: 370px) and (max-width: 600px) {
    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    }

    .card-section {
       
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-left: 15px;
    }

    .card {
        margin-right: 5px;
        width: 89%;
        position: relative;
    }

    .card-sect:last-child {
        margin-right: 0;
    }

    .anchor-card {
        width: 100%;
        box-sizing: border-box;
        left: 0;
        border-right: 1px solid rgba(218, 205, 205, 0.637);
        border-left: 1px solid rgba(218, 205, 205, 0.637);
        border-top: none;
        border-bottom: none;
        background: white;
        
    }
}