* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar-brand {
    left: 6rem;
    position: relative;
}

.navbar-collapse {
    flex-grow: 0;
    margin-right: 8rem;
}

.navbar-collapse ul {
    display: flex;
    gap: 2rem;

}

.jumbotron-container {
    padding: 2rem;
    display: block;
    margin-top: 0;
    width: 84%;
    margin-left: 7rem;
}

.jumbotron-container h1 {
    font-size: 3.5rem;
    font-weight: lighter;
}

.jumbotron-container p {
    margin-right: 1rem;
}

.jumbotron-container button {
    margin-right: 2rem;

}



@media (max-width: 980px) {

    .navbar-brand {
        margin-right: 10rem;
        left: 0;
        position: static;
    }

    h1 {
        font-size: 1rem;

    }

}

@media (max-width: 980px) {
    .jumbotron-container {
        padding: 1rem;
        width: 100%;
        margin-left: 1rem;
        /* no me funciona */
        margin-right: 1rem !important;

    }

}